body {
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
}

h1 {
	font-size: 24px;
	margin: 0%;
}

h5 {
	font-size: 18px;
	margin: 0%;
}

ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}

li.active {
	color: white;
	background-color: limegreen;
}


.column {
  float: left;
}

.left {
  width: 15%;
  /*margin-right: 5%;*/
  position: fixed;
}

.right {
  width: 75%;
  padding-bottom: 10rem;
  margin-left: 25%;
}

.imager {
  display: flex;
  float: left;
}

.imager div {
  flex: 1;
  margin: 0px;
  margin-right: 4px;

}

.imager div img {
  width: auto;
  max-width: 100%;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
}

@media only screen and (max-width: 800px) {
	body {
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.column {
		width: 100%;
	}
	.left {
		position: static;
	}
	.right {
		margin-left: 0;
	}
	ul {
		position: fixed;
		bottom: 0;
		background-color: white;
	}
}