/*Light Theme*/
:root {
  --bg-color: white; 								/* Background color */
  --text-color: DimGray;						/* Text color */
  --header-color: #01263a;					/* Header color */
  --header-shadow: LightSteelBlue;	/* Header shadow color */
}
/*Dark Theme*/
.dark-theme {							
  --bg-color: #1c1d1f; 							/* Background color */
  --text-color: #f0f0f1; 						/* Text color */
  --header-color: #71a7d9;					/* Header color */
  --header-shadow: #0a4b78;					/* Header shadow color */
}

body {
	margin: 0px 0px 0px;
	background-color: var(--bg-color);
}
footer {
	bottom: 0px;
	margin-left: 300px;
	margin-bottom: 20px;
	
}
small {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	color: LightSteelBlue;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: var(--header-color);
	padding-bottom: 0px;
	margin: 0px 0px 0px;
	text-shadow: 0px 2px var(--header-shadow);
}
p {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--text-color);
	margin: 0px 0px 0px;
}
a {
	color: #ff7e00;
	text-decoration: none;
}
a:hover {
	color: LightSteelBlue;
}

#columns {
	max-width: 1000px;
	margin: 0 auto;
}
.logo {
	padding-bottom: 15px;
}
.left {
	width: 250px;
 	margin-top: 105px;
  	position: fixed;
  	text-align: center;
}
.right {
  	padding-top: 250px;
  	margin-left: 300px;
  	padding-bottom: 60px;
}
.projects {
/*	padding-bottom: 50px;*/
}
.projects_desc {
	text-align: left;
}
.entries {
	padding-bottom: 50px;
}
.entries_img {
	float: left;
	max-height: 100px;
	margin-right: 10px;
}
.entries_title {
	font-weight: 600;
}

/*Toggle Button*/
#toggle {
  padding: 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#toggle:hover {
  background-color: gray;
}

@media only screen and (max-width: 1000px) {
	footer {
		position: relative;
		text-align: center;
		margin-left: 0px;
	}
	.left {
		position: static;
		margin: auto;
 		width: 60%;
 		padding-top: 50px;
	}
	.logo {
		padding-bottom: 0px;
	}
	.right{
		padding: 20px 20px 60px;
		margin: 0px 20px 0px;
	}
	h1 {
		margin-top: 20px;
	}
	.img {
		float: right;
		max-width: 30%;
		margin-left: 20px;
	}
	.descriptions {
		text-align: left;
	}
}