body {
	font-family: 'Lora', serif;
	margin: 0px 0px 0px;
}
html {
	background: white;
}
footer {
	bottom: 0px;
	margin-left: 200px;
	margin-bottom: 20px;
	color: lightgrey;
}
#footer {
	position: absolute;
}
.header {
  height: 200px;
  background: #ff7e00;
  position: fixed;
  width: 100%;
}

#columns {
	max-width: 700px;
	margin: 0 auto;
}
#itl {
	font-weight: bold;
	color: #ff7e00;
}
#itl:hover {
	color: #636363;
}
.logo {
	margin-top: 25px;
	position:fixed;
}
.left {
	font-family: 'Fredoka One', cursive;
	font-size: 22px;
	width: 150px;
 	margin-top: 250px;
  	position: fixed;
  	text-align: right;
}

.right {
  	padding-top: 250px;
  	margin-left: 200px;
  	padding-bottom: 60px;
  	color: #292929;
}

p {
	font-size: 18px;
	margin: 0px 0px 0px;
}

ul {
	list-style: none;
	padding: 0px 0px 0px;
	margin: 0px 0px 0px;
}

a {
	text-decoration: none;
	color: #292929;
}
a:hover {
	color: #636363;
}
#screens {
  padding: 0;
  margin: 20px 0px 0px;
  text-align: center;
}
#screens img {
	margin: 10px 5px 5px;
	vertical-align: middle;
	outline: solid;
	outline-width: 1px;
	outline-color: #636363;
}
#game {
	margin-bottom: 60px;
}
h1 {
	font-weight: 600;
	font-style: italic;
	font-size: 28px;
	padding-bottom: 10px;
	margin: 0px;
	text-shadow: 0px 1px #ff7e00;
}
@media only screen and (max-width: 750px) {
	.header {
		height: 200px;
		position: static;
	}
	.logo {
		position: static;
		margin: auto;
	}

	.center {
		margin-top: -175px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	.left {
		position: static;
		margin: 60px 0px 0px;
		text-align: center;
		width: 100%;
	}
	li {
		display: inline-block;
		padding: 0px 20px 0px;
	}
	h1 {
		margin-top: 20px;
	}
	.right{
		padding: 20px 20px 60px;
		margin: 0px 20px 0px;
	}
	#footer {
		position: relative;
		text-align: center;
		margin-left: 0px;
		color: lightgrey;
}